extends layout

block content
  h1= title
  p Welcome to #{title}
  p this is just a holderplace index page go checkout the API routes
  p prayertime/:city
  p prayertime/:city/:year
  p prayertime/:city/:year/:month
  p prayertime/:city/:year/:month/:day
  p prayertime/:city/:year/:month/:day/:eventname
  p cities{algiers,oran,mostaganem,.......}
  p events{fajr,sunrise,dhuhr,asr,maghrib,isha,midnight}
  p year{2022,2023} for now we only support these years
  p month{1,2,3,4,5,6,7,8,9,10,11,12}
  p day{1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31}
  p generated alll prayertimes for all 48 wilayas between 01/04/2022 and 01/04/2023


